    <div class="boltchart">
        <div id="legend-{{id}}"></div>
        <canvas id="chart-{{id}}" height="450" width="600"></canvas>
    </div>

    {# The first row, minus the first element in 'grid' contains the labels. #}
    {% set labels = chart.grid|json_decode|first %}
    {# The other rows contain the actual data. #}
    {% set data = chart.grid|json_decode|slice(1) %}

    <button id="button-{{id}}" onclick="$('#button-{{id}}').hide();$('#table-{{id}}').show();">Show data</button>

    <table class="boltcharttable" id="table-{{id}}">{% spaceless %}
{% for row in chart.grid|json_decode %}
    {% if loop.first %}
    <thead>
    {% elseif loop.index0 == 1 %}
    <tbody>
    {% endif %}
        <tr>
        {% for cell in row %}
            {% if loop.first or loop.parent.loop.first %}
            <th>{{ cell }}</th>
            {% else %}
            <td>{{ cell }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% if loop.first %}
    </thead>
    {% elseif loop.last %}
    </tbody>
    {% endif %}
{% endfor %}

    {% endspaceless %}</table>

<script>
    var lineChartData{{id}} = {
        labels : {{ labels|chartsimplode() }},
        datasets : [
{% for dataset in data %}
    {% set data = dataset|slice(1)|chartsimplode() %}
    {% if data is not empty %}
            {
                label: '{{ dataset|first }}',
                fillColor : "rgba({{ config.colors[loop.index0][0] }}, {{ config.colors[loop.index0][1] }}, {{ config.colors[loop.index0][2] }}, {{ opacity }})",
                strokeColor : "rgba({{ config.colors[loop.index0][0] }}, {{ config.colors[loop.index0][1] }}, {{ config.colors[loop.index0][2] }}, 1)",
                pointColor : "rgba({{ config.colors[loop.index0][0] }}, {{ config.colors[loop.index0][1] }}, {{ config.colors[loop.index0][2] }}, 1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "rgba({{ config.colors[loop.index0][0] }}, {{ config.colors[loop.index0][1] }}, {{ config.colors[loop.index0][2] }}, 1)",
                pointHighlightStroke : "rgba({{ config.colors[loop.index0][0] }}, {{ config.colors[loop.index0][1] }}, {{ config.colors[loop.index0][2] }}, 1)",
                data : {{ data }}
            } {% if not loop.last %},{% endif %}
    {% endif %}
{% endfor %}
        ]
    };

    $(document).ready(function($) {
        $('#table-{{id}}').hide();
        var ctx = $("#chart-{{id}}").get(0).getContext("2d");
        window.myLine = new Chart(ctx).{% if chart.type == "bar" %}Bar{% else %}Line{% endif %}(lineChartData{{id}}, {
            responsive: true
        });
        $("#legend-{{id}}").html(window.myLine.generateLegend());
    });


</script>